<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450573658218-d2s1gjuihuqk8nr62d0qbmn8eqofq3eg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450573658218-d2s1gjuihuqk8nr62d0qbmn8eqofq3eg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>450573658218-26fjce6fmlgulcuid37t3tfji3dujt0v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVP8vf2Z2XE2pczXfZkDU7qUS2SsKzGW0</string>
	<key>GCM_SENDER_ID</key>
	<string>450573658218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yumyumhero.firebase</string>
	<key>PROJECT_ID</key>
	<string>yumyumhero-1e0f6</string>
	<key>STORAGE_BUCKET</key>
	<string>yumyumhero-1e0f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450573658218:ios:dd729f5dc4f2ff1c7b8213</string>
</dict>
</plist>